.btn-primary {
    -fx-background-radius: 10;
    -fx-background-color: #FAF2E3;
    -fx-border-color: #ECBF73;
    -fx-border-radius: 10;
}

.btn-primary:hover{
    -fx-background-color: #ECBF73;
    -fx-cursor: hand;
    -fx-text-fill: #FAF2E3;
}

.btn-primary-active {
    -fx-background-color: #ECBF73;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-text-fill: #FAF2E3;
}
.btn-primary-active:hover {
    -fx-background-color: #EAA807;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-cursor: hand;
}

.btn-secondary {
    -fx-background-radius: 10;
    -fx-border-color: #E8E8E8;
    -fx-border-radius: 10;
    -fx-background-color: #E8E8E8;
}

.btn-secondary:hover{
    -fx-background-color: #b6b6b6;
    -fx-cursor: hand;
    -fx-text-fill: #FAF2E3;
}

.btn-secondary-active {
    -fx-background-color: #ECBF73;
}

.bg-primary {
    -fx-background-color: #EAA807;
}

.btn-error {
    -fx-background-radius: 10;
    -fx-background-color: #BB716F;
    -fx-border-radius: 10;
    -fx-text-fill: #FAF2E3
}

.btn-error:hover{
    -fx-background-color: #724442;
    -fx-cursor: hand;
}

.input {
    -fx-background-color: #FAF2E3;
    -fx-border-color: #ECBF73;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.event-card-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #ecbf73;
}

.event-card-description {
    -fx-font-size: 16px;
    -fx-text-fill: #262626;
}

.event-card-date {
    -fx-font-size: 14px;
    -fx-text-fill: #bb716f;
    -fx-font-weight: bold;
}

.event-card-quantity {
    -fx-font-size: 14px;
    -fx-text-fill: #262626;
    -fx-font-weight: bold;
}

.event-card-member-status {
    -fx-font-size: 18px;
    -fx-text-fill: #5D863B;
    -fx-font-weight: bold;
}

.btn-delete{
    -fx-background-radius: 10;
    -fx-background-color: #EA5C45;
    -fx-border-radius: 10;
    -fx-text-fill: #FAF2E3
}
.btn-delete:hover{
    -fx-background-color: #D9381E;
    -fx-cursor: hand;
}

.btn-Done {
    -fx-background-radius: 10;
    -fx-background-color: #73C088;
    -fx-border-radius: 10;
    -fx-text-fill: #FAF2E3
}

.btn-Done:hover{
    -fx-background-color: #397D54;
    -fx-cursor: hand;